.calculator-container {
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(80px, auto) repeat(5, 70px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.calculator > button {
  outline: none;
  cursor: pointer;
  border: 1px solid white;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.calculator .orange {
  background-color: orange;
}

.calculator .orange:hover {
  background-color: rgb(250, 183, 57);
}
